{% load static %}
<nav class="navbar navbar-expand-lg top-menu">
  <a class="navbar-brand" href="#">
    <img src="{% static "escrm/images/logo-energy-solution.png" %}" width="96" height="33" class="d-inline-block align-top" alt="">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto">
      {% if request.user|has_group:"opiekun_klienta,szef_dzialu_sprzedazy,prezes" or request.user.is_staff %}
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'escrm:escrm-dashboard' %}">CRM <span class="sr-only">(current)</span></a>
        </li>
      {% endif %}
      {% if request.user|has_group:"prezes,ksiegowy,szef_dzialu_sprzedazy" or request.user.is_staff %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'platnosci:kalendarz' %}?y={% now "Y" %}&m={% now "n" %}&d={% now "d" %}">Płatności</a>
        </li>
      {% endif %}
      {% if request.user|has_group:"prezes,recepcja" or request.user.is_staff %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'korespondencja:korespondencja-list' %}">Korespondencja</a>
        </li>
      {% endif %}
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/profil">{{ request.user.first_name }} {{ request.user.last_name }} <i class="far fa-edit"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/logout?next=/login">wyloguj</a>
      </li>
    </ul>
  </div>
</nav>