{% extends "base_generic.html" %}
{% block content-header %}
    <div class="col-9">
        <h1>Zmiana hasła dla {{ request.user.first_name }} {{ request.user.last_name }}</h1>
        <div class="h-divider"></div>
    </div>
 {% endblock %}
{% block content %}
    <div class="col-12">
        <form method="post">
      {% csrf_token %}
            {% for field in form %}
        <div class="row">
           <div class="col-2">
            {{ field.label_tag }}
           </div>
            <div class="col-2">
             {{ field }}
           </div>
            <div class="col-8">
                {% for error in field.errors %}
                    <div class="form-error">{{ error }}</div>
                {% endfor %}
           </div>
        </div>
            <div class="row">
                <div class="col-8">
                    {% if field.help_text %}
                        <div class="help-text">{{ field.help_text|safe }}</div>
                    {% endif %}
                </div>
            </div>
     {% endfor %}
      <button type="submit">Zapisz</button>
    </form>
    </div>
{% endblock %}