<div class="dashboard-box">
    <div class="dashboard-box-title">
        <h4>Umowy</h4>
        <div style="display:inline-block; float: right;">
            <a href="{% url 'escrm:kontrahent-umowy' kontrahent.id_kontrahenta %}"><i class="fas fa-list fa-2x"></i></a>
            <a href="{% url 'escrm:umowa-create' kontrahent.id_kontrahenta %}">
            <i class="fas fa-plus-circle fa-2x" style="color: #218838"></i></a>
        </div>
    </div>
    <div class="dashboard-box-content">
    {% if umowy %}
        <table class="table table-sm">
        <tr>
            <th>Temat</th>
        </tr>
            {% for umowa in umowy %}
                <tr>
                    <td><a href="{% url 'escrm:umowa-detail' pk=kontrahent.pk pk_umowy=umowa.pk %}">{{ umowa.temat }}</a></td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>Aktualnie brak umów</p>
    {% endif %}
    </div>
</div>