{% extends "dashboard_template.html" %}
{% block breadcrumbs %}
    {{ block.super }} / Moje oferty
{% endblock %}
{% block content-header %}
    <h1>Moje oferty</h1>
{% endblock %}

{% block content %}
    <div class="container-tables-crm">
{% if lista_ofert %}
    <table class="table table-sm" id="data">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Temat</th>
            <th scope="col">Produkt</th>
            <th scope="col">Kontrahent</th>
            <th scope="col">Status</th>
            <th scope="col">Wartość</th>
        </tr>
        </thead>
        <tbody>
        {% for oferta in lista_ofert %}
            <tr>
            <th scope="row">{{ forloop.counter }}</th>
                <td><a href="{% url 'escrm:oferta-detail' pk=oferta.kontrahent.pk pk_oferty=oferta.pk %}">{{ oferta.temat }}</a></td>
                <td>{{ oferta.produkt }}</td>
                <td><a href="{% url 'escrm:kontrahent-detail' oferta.kontrahent.id_kontrahenta %}">{{ oferta.kontrahent.nazwa_dluga }}</a></td>
                <td>{{ oferta.status.nazwa_statusu }}</td>
                <td>{{ oferta.wartosc }} {{ oferta.waluta }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>Brak ofert do wyświetlenia.</p>
{% endif %}
    </div>
    <script>
    $(document).ready(function() {
        $('#data').DataTable( {
            "ordering": true,
            "language": {
                "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Polish.json"
            }
        });
        setSearchableColumns();
    });
    </script>
{%  endblock %}