<div class="dashboard-box">
    <div class="dashboard-box-title">
        <h4>Ostatnio dodane zdarzenia</h4>
        <div style="display:inline-block; float: right;">
            <a href="{% url 'escrm:opiekun-zdarzenia-list' %}"><i class="fas fa-list fa-2x"></i></a>
        </div>
    </div>
    <div class="dashboard-box-content">
    {% if lista_zdarzen %}
        <table class="table table-sm">
            {% for zdarzenie in lista_zdarzen %}
                <tr>
                    <td><a href="{% url 'escrm:zdarzenie-detail' zdarzenie.pk %}">{{ zdarzenie.temat }}</a></td>
                <td style="text-align: right">
                    <a href="{% url 'escrm:kontrahent-detail' zdarzenie.kontrahent.pk %}" style="text-decoration: none">{{ zdarzenie.kontrahent.nazwa_krotka }}</a>
                </td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>Nie dodałeś jeszcze żadnych zdarzeń</p>
    {% endif %}
    </div>
</div>