{% extends "base_generic.html" %}
{% block content-header %}
    <div class="col-9"><h1> <!--class="page-header"-->Edycja profilu - {{ request.user.first_name }} {{ request.user.last_name }}</h1></div>
    <div class="h-divider"></div>
{% endblock %}
{% block content %}
<div class="col-12">
        <form method="post">
      {% csrf_token %}
            {% for field in user_form %}
        <div class="row">
           <div class="col-2">
            {{ field.label_tag }}
           </div>
            <div class="col-2">
             {{ field }}
           </div>
            <div class="col-8">
                {% for error in field.errors %}
                    <div class="form-error">{{ error }}</div>
                {% endfor %}
           </div>
        </div>
            <div class="row">
                <div class="col-8">
                    {% if field.help_text %}
                        <div class="help-text">{{ field.help_text|safe }}</div>
                    {% endif %}
                </div>
            </div>
     {% endfor %}
        {% for field in profile_form %}
        <div class="row">
           <div class="col-2">
            {{ field.label_tag }}
           </div>
            <div class="col-2">
             {{ field }}
           </div>
            <div class="col-8">
                {% for error in field.errors %}
                    <div class="form-error">{{ error }}</div>
                {% endfor %}
           </div>
        </div>
            <div class="row">
                <div class="col-8">
                    {% if field.help_text %}
                        <div class="help-text">{{ field.help_text|safe }}</div>
                    {% endif %}
                </div>
            </div>

     {% endfor %}
        <div class="row">
            <div class="col-2"></div>
            <div class="col-2 submit-form">
                <button type="submit">Zapisz</button>
            </div>
        </div>
    </form>
    </div>
<!-- <form method="post">
  {% csrf_token %}
  {{ user_form.as_p }}
  {{ profile_form.as_p }}
  <button type="submit">Save changes</button>
</form>-->
{% endblock %}