{% extends "escrm/oferta_list.html" %}
{% load widget_tweaks %}
{% block breadcrumbs %}
    {{ block.super }} / Oferta - {{ oferta.temat }}
{% endblock %}
{% block content %}
<div class="container-tables-crm">
<div class="row">
    <div class="col-12">
        <h4>Szczegóły oferty</h4>
    </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <ul class="display-static-list">
      <li class="static-list-field-label">
        temat
      </li>
      <li class="static-list-field-value">{{ oferta.temat }}</li>
      <li class="static-list-field-label">produkt</li>
      <li class="static-list-field-value">{{ oferta.produkt }}</li>
      <li class="static-list-field-label">termin ważności</li>
      <li class="static-list-field-value">{{ oferta.termin_waznosci|date:"Y-m-d" }}</li>
        <li class="static-list-field-label">wartość</li>
      <li class="static-list-field-value">{{ oferta.wartosc }} {{ oferta.waluta }}</li>
        <li class="static-list-field-label">status</li>
      <li class="static-list-field-value">{{ oferta.status.nazwa_statusu }}</li>
        <li class="static-list-field-label">akceptacja</li>
      <li class="static-list-field-value">{{ oferta.akceptacja }}</li>
        <li class="static-list-field-label">data sporządzenia</li>
      <li class="static-list-field-value">{{ oferta.data_sporzadzenia|date:"Y-m-d" }}</li>
    </ul>
  </div>
    <div class="col-sm-6">
        <div class="d-flex flex-column">
         <h4>Dołączone pliki</h4>
                {%  for dokument in oferta.dokument_set.all %}
                    <div class="p-2">
                    <i class="fas fa-file"></i>
                    &nbsp; <a href="{% url 'escrm:dokument-download' dokument.pk %}">{{ dokument.tytul_dokumentu }}</a>
                    {{ dokument.uzytkownik.user.first_name }} {{ dokument.uzytkownik.user.last_name }},
                    {{ dokument.data_dodania|date:"Y-m-d H:m:s" }}
                    &nbsp;
                    <form action="{%  url 'escrm:dokument-delete' dokument.pk %}" method="post" class="form-inline">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-outline-danger btn-sm confirm" style="cursor:pointer;">
                        <i class="far fa-trash-alt"></i>
                        </button>
                    </form>
                    </div>
                {% endfor %}


            <div class="p-2">
                <span class="static-list-field-label">
                  <a id="create-dokument-button" href="#" data-toggle="modal" data-target="#dodaj-dokument-modal"><i class="fas fa-plus"></i> dodaj dokument</a>
                  <!--modal view-->
                </span>
            </div>
        <div class="p-2">
            <progress></progress>
        </div>
     </div>
    </div>
</div>

<br><br>
<div class="submit-row float-right">
  <a class="btn btn-outline-primary btn-sm" href="{{ next }}">
    <i class="fas fa-angle-left"></i>
    powrót
  </a>
  <form action="{%  url 'escrm:oferta-delete' oferta.pk %}" method="post" class="form-inline">
    {% csrf_token %}
    <button type="submit" class="btn btn-outline-danger btn-sm confirm2" style="cursor:pointer">
      usuń
      <i class="far fa-trash-alt"></i>
    </button>
  </form>
</div>
<br>
</div>
{% endblock content %}
{% block modal %}
{{ block.super }}

<div id="dodaj-dokument">
  {% include 'escrm/dokument/dokument_create_modal.html' %}
</div>


{% endblock modal %}
{% block javascript %}

<script>

$(function(){
    $('progress').hide();
  setupAjax();

  $('.confirm').on('click', function(e){
    conf = confirm("Czy na pewno chcesz usunąć wybrany dokument ?");
      if (conf == true) {
        return conf;
      } else {
        e.preventDefault();
      }
  });

  $(':file').on('change', function() {
    var file = this.files[0];
    if (file.size > 20480000) {
        document.getElementById("id_nazwa_pliku").value = "";
        alert('Dopuszczalna wielkość pliku to 20Mb')
    }
  });

  $(document).on('click', '#create-dokument-button', function(e){

  });

  /*$(document).on('click', '#js-submit-create-dokument', function(e){
    $.ajax({
      url: $(this).attr('data-url'),
      type: 'post',
      dataType: 'json',
      data: {
        tytul_dokumentu: $('#id_tytul_dokumentu').val(),
        nazwa_pliku: $('#id_nazwa_pliku').val(),
        typ: $('#id_typ').val(),
        csrfmiddlewaretoken: $('#osoba-form-create input[name=csrfmiddlewaretoken]').val()
      },
      success: function(data){
        console.log(data);
        var modal_div = $('#osoba-create-modal');
        var modal = modal_div.html();
        modal_div.empty();
        modal_div.html(modal);
      }
    })
  });*/

  $(document).on('click', '#js-submit-create-dokument', function(e){
      $('progress').show();
      var data = new FormData();
        data.append("nazwa_pliku", $("#id_nazwa_pliku")[0].files[0]);
        data.append("typ", $("#id_typ").val());
        data.append("tytul_dokumentu",$("#id_tytul_dokumentu").val());
        data.append("csrfmiddlewaretoken", $('#dokument-form-create input[name=csrfmiddlewaretoken]').val());
    $.ajax({
      url: $(this).attr('data-url'),
      type: 'post',
      //dataType: 'json',
      data: data,
        cache: false,
        contentType: false,
        processData: false,
        // Custom XMLHttpRequest
        xhr: function() {
            var myXhr = $.ajaxSettings.xhr();
            if (myXhr.upload) {
                // For handling the progress of the upload
                myXhr.upload.addEventListener('progress', function(e) {
                    if (e.lengthComputable) {
                        $('progress').attr({
                            value: e.loaded,
                            max: e.total,
                        });
                    }
                } , false);
            }
            return myXhr;
        },
        success:function(response) {
              location.reload(true);

              //do something with 'response'
             }
      /*success: function(data){
          document.getElementById("id_nazwa_pliku").value = "";
          document.getElementById("id_tytul_dokumentu").value = "";
        console.log(data);
        var modal_div = $('#dokument-create-modal');
        var modal = modal_div.html();
        modal_div.empty();
        modal_div.html(modal);
      }*/
    })
  });
})

</script>
{% endblock javascript%}