{% extends "escrm/kontrahent_dashboard.html" %}
{% block breadcrumbs %}
    {{ block.super }} / <a href="{% url 'escrm:kontrahent-umowy' kontrahent.id_kontrahenta %}">Umowy - {{ kontrahent.nazwa_krotka }}</a>
{% endblock %}
{% block content-header %}
    <h1>{{ kontrahent.nazwa_krotka }} - umowy</h1>
{% endblock %}

{% block content %}
    <div class="container-tables-crm">
    <div class="submit-row">
    <a class="btn btn-success" href="{% url 'escrm:umowa-create' kontrahent.pk %}"><i class="fas fa-plus"></i>&nbsp; Dodaj umowę</a>
</div>
{% if lista_umow %}
    <table class="table table-sm" id="data">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Temat</th>
            <th scope="col">Produkt</th>
            <th scope="col">Status</th>
            <th scope="col">Wartość</th>
            <th scope="col">Operacje</th>
        </tr>
        </thead>
        <tbody>
        {% for umowa in lista_umow %}
            <tr>
            <th scope="row">{{ forloop.counter }}</th>
                <td><a href="{% url 'escrm:umowa-detail' pk=kontrahent.pk pk_umowy=umowa.pk %}">{{ umowa.temat }}</a></td>
                <td>{{ umowa.produkt }}</td>
                <td>{{ umowa.status.nazwa }}</td>
                <td>{{ umowa.wartosc }} {{ umowa.waluta }}</td>
                <td>
                    <a class="btn btn-link btn-sm" data-toggle="tooltip" title="Edytuj umowę" href="{% url 'escrm:umowa-update' pk=kontrahent.pk pk_umowy=umowa.pk %}" style="padding: 0 0.5rem!important;">
                        <i class="fas fa-edit"></i>
                    </a>
                    <form action="{%  url 'escrm:umowa-delete' umowa.pk %}" method="post" class="form-inline">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-outline-danger btn-sm confirm" style="cursor:pointer">
                          <i class="far fa-trash-alt"></i>
                        </button>
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>Aktualnie brak umów dla tego kontrahenta.</p>
{% endif %}
    </div>
    <script>
    $(document).ready(function() {
        $('.confirm').on('click', function(e){
            conf = confirm("Czy na pewno chcesz usunąć tę umowę?");
            if (conf == true) {
                return conf;
            } else {
                e.preventDefault();
            }
        });
        $('#data').DataTable( {
            "ordering": true,
            "language": {
                "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Polish.json"
        }
    } );
    });
    </script>
{%  endblock %}